# Local system files
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/
.coverage

# Platform Gateway Simulation Output
terraform/*.auto.tfvars

# Web Portal Data
web_portal/backend/db.json

# Secrets & Env
.env
