apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bafin-portal
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/holpunk/self_service_cloud_data_platform_bafin.git 
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
